{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "external-helpers"
  ],
  "retainLines": true
}